<div class="slider">
    <div class="slide">
        <div class="slide-background">
            <img src="https://images.pexels.com/photos/20099418/pexels-photo-20099418/free-photo-of-koi-fish-in-a-pond-with-a-lotus-leaf.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </div>
        <div class="slide-pane">
            <h2 class="title">Slider Title</h2>
            <div class="meta mb-4">
                <div class="rating mb-1">
                    <i class=" pi pi-star-fill"></i>
                    <span>8.9</span>
                    <span>/10</span>
                </div>
                <div class="votes mb-1">
                    <i class="pi pi-users"></i>
                    <span>4233</span>
                </div>
                <div class="release-date">
                    <i class="pi pi-calendar"></i>
                    <span>30.08.2025</span>
                </div>

            </div>
            <div class="description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore accusantium doloribus excepturi quae
                reprehenderit! Omnis debitis dicta velit ipsum expedita voluptatibus facere, unde nostrum. Rem illum
                mollitia hic. Laboriosam, consequuntur!
            </div>
        </div>
    </div>
</div>

<pre>
    {{movies | json}}
</pre>