<app-slider></app-slider>
<div style="max-width: 100%;padding:10px; margin:0 auto;">
    @if(upcomingMovies$ | async; as upcomingMovies){
    <app-banner [title]="'Upcoming Movies'" [shows]="upcomingMovies" [showsType]="'movie'"></app-banner>
    }
    @if(topRatedMovies$ | async; as topratedMovies){
    <app-banner [title]="'Top Rated Movies'" [shows]="topratedMovies" [showsType]="'movie'"></app-banner>
    }
    @if(PupulartvShows$ | async; as popularTvShows){
    <app-banner [title]="'Popular Shows'" [shows]="popularTvShows" [showsType]="'tv'"></app-banner>

    }
    @if(topRatedShows$ | async; as topRatedShows){
    <app-banner [title]="'Top Rated Shows'" [shows]="topRatedShows" [showsType]="'tv'"></app-banner>
    }
</div>
<!-- <app-banner /> -->