@import "../../../assets/styles/variables";
.genres-links {
  a {
    display: inline-block;
    padding: 5px;
    background-color: $primary-color;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.6rem;
  }
}
